body {
    font-family: sans-serif;
}

div {
    padding: 10px;
}

header {
    text-align: center;
}

footer {
    text-align: center;
    margin: auto;
    padding: 10px;
    clear: both;
}

p {
    text-align: center;
}

textarea {
    width: 300px;
    height: 150px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    /* main axis */
    align-content: flex-start;
    /* no effect with one line of flex items */
}

.button {
    background: #3498db;
    border-radius: 18px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.button:hover {
    background: #3cb0fd;
    text-decoration: none;
}

#divLeft {
    float: left;
}

#divRight {
    float: right;
}