body {
    font-family: sans-serif;
}

div {
    padding: 10px;
}

footer {
    padding-top: 10px;
}

.button {
    background: #103B56;
    border-radius: 18px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.button:hover {
    background: #165883;
    text-decoration: none;
}